*,
:after,
:before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --primary: #2f3337;
  --background: #efeff4;
  --link: #3ca4ff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #cfd2d6;
    --background: #202124;
  }
}
body {
  background-color: var(--background);
  background-image: url(background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--primary);
  background-color: var(--background);
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--background);
}
h1 {
  font-weight: 600;
  line-height: 1.2;
  font-size: 2.4em;
  margin-bottom: 0;
  padding-top: 0.5em;
}
p {
  font-size: 1.3rem;
  line-height: 1.75em;
  margin: 1.1em 0;
  font-weight: 400;
}
.layout {
  padding: 0 1.25em;
}
.container {
  margin: 0 auto;
  max-width: 58em;
  width: 100%;
}
a {
  color: var(--link);
  transition: color linear 0.15s;
  text-decoration: none;
}
.social-media-icons {
  margin: 1.5em 0 0 0;
}
.social-media-link {
  color: var(--primary);
  margin-right: 0.5em;
}
.social-media-link:hover {
  color: var(--link);
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  p {
    font-size: 1.15rem;
    margin: 1em 0;
  }
}
footer {
  font-weight: 500;
  font-size: 1.15em;
  letter-spacing: 0.1rem;
  margin-bottom: 1em;
}
::-moz-selection {
  color: var(--background);
  background: var(--primary);
}
::selection {
  color: var(--background);
  background: var(--primary);
}
::-webkit-scrollbar {
  width: 10px;
  overflow: auto;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
