*,
:after,
:before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --primary: #000000;
  --secondary: #97ac9f;
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #97ac9f;
    --secondary: #000000;
  }
}
body {
  margin: 0;
  font-family: Oswald, sans-serif;
  color: var(--primary);
  background-color: var(--secondary);
  text-align: center;
  line-height: 1.2;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--secondary);
}
h1 {
  color: var(--primary);
  font-size: 6em;
  margin: 2rem 0 0 0;
  padding: 0;
}
h2 {
  margin-top: 0;
  font-size: 2.7rem;
}
a {
  color: var(--primary);
  transition: color linear 0.15s;
  text-decoration: none;
}
.main {
  margin: 1em 0;
  text-align: left;
}
.main p {
  font-size: 1.5rem;
  line-height: 1.75em;
  font-weight: 400;
  margin: 0 auto;
  max-width: 50rem;
  padding: 0.5em 1.25rem;
}
.social-media-link {
  margin-right: 0.5em;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.4rem;
  }
  .main p {
    font-size: 1.3rem;
  }
}
::-moz-selection {
  color: var(--secondary);
  background: var(--primary);
}
::selection {
  color: var(--secondary);
  background: var(--primary);
}
::-webkit-scrollbar {
  width: 10px;
  overflow: auto;
}
::-webkit-scrollbar-track {
  background: var(--secondary);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
