*,
:after,
:before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --primary: #000000;
  --secondary: #97ac9f;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: #97ac9f;
    --secondary: #000000;
  }
} */
@font-face {
  font-display: swap;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/oswald-v53-latin-600.woff2") format("woff2"),
    url("./fonts/oswald-v53-latin-600.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: Oswald, sans-serif;
  color: var(--primary);
  background-color: var(--secondary);
  text-align: center;
  line-height: 1.2;
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--secondary);
}
header {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 0 1.25rem 5em 1.25rem;
  background-color: var(--secondary);
}
h1 {
  color: var(--primary);
  font-size: 5em;
  margin: 2rem 0 1rem 0;
  padding: 0;
}
a {
  color: var(--primary);
  transition: color linear 0.15s;
  text-decoration: none;
}
.main {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 1em 0;
  text-align: left;
  text-align: justify;
}
.main p {
  font-size: 1.5rem;
  line-height: 1.75em;
  font-weight: 400;
  margin: 0 auto;
  max-width: 50rem;
  padding: 0.5em 1.25rem;
}
.social-media-link {
  margin-right: 0.5em;
}
.social-media-icon {
  width: 48;
  height: 48;
}
.down {
  margin-top: 2rem;
}
footer p {
  margin: 0;
  padding: 1rem;
  color: var(--primary);
  background-color: var(--secondary);
}
@media (max-width: 1200px) {
  h1 {
    font-size: 4em;
  }
  .social-media-icon {
    width: 40;
    height: 40;
  }
  .main p {
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
  .social-media-icon {
    width: 32;
    height: 32;
  }
  .main p {
    font-size: 1.3rem;
  }
}
::-moz-selection {
  color: var(--primary);
  background: var(--secondary);
}
::selection {
  color: var(--primary);
  background: var(--secondary);
}
::-webkit-scrollbar {
  width: 10px;
  overflow: auto;
}
::-webkit-scrollbar-track {
  background: var(--secondary);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
